.block_rss_thumbnails .slide-title {
    padding: 0;
    width: 100%;
    min-height: 200px;
}
.block_rss_thumbnails .categories {
    font-size: x-small;
}

.block_rss_thumbnails .thumbnail {
    min-height: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
